
.recipeButton
{
  background: linear-gradient(to bottom,#3de2d8, #00acf9);
  width: 40%;
  border: none;
  border-radius: 10px;
}
.card-text{
  white-space: pre-line;
}

th
{
  background: linear-gradient(35deg, #494949, #313131);
  color: white;
}

tr:nth-child(odd)
{
  background-color: #3de2d8;
}

tr:nth-child(even)
{
  background-color: #00acf9;
}