*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0% 20%;
}

h4 {
  font-size:1rem;
  color: rgb(56,56,56)
}
h3 {
  font-size:1.5rem;
  color: rgb(56,56,56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

h2 {
  font-size:2rem;
  color: rgb(56,56,56)
}

h1 {
  font-size:2.5rem;
  color: rgb(56,56,56)
}

p {
  padding: 1rem
}

a {
  color: rgb(56,56,56)
}