*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .icons {
    display: flex;
  justify-content: center;
  margin: 2rem 0rem;
  }
  NavLink {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 1rem;
  text-decoration: none;
  background: linear-gradient(35deg, #494949, #313131);
  width: 4.7rem;
  height: 4.7rem;
  cursor: pointer;
  }
  NavLink h4 {
    color: white;
    font-size: 0.9rem;
  }
  NavLink svg {
    color: white;
    font-size: 2rem;
  }
  .active {
    background: linear-gradient(to right, #00acf9, #3de2d8);
    
  }
  .active svg {
    color: white;
  }
  .active h4 {
    color: white;
  } 